body {
  font-family: var(--sofiaSans-font), var(--roboto-font);
  margin: 0;
  color: white !important;
}

@keyframes MoveUpDown {

  0%,
  100% {
    bottom: 0;
  }

  50% {
    bottom: 10px;
  }
}

/// neon

@keyframes pulsate {
  100% {
    /* Larger blur radius */
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #f09,
      0 0 80px #f09,
      0 0 90px #f09,
      0 0 100px #f09,
      0 0 150px #f09;
  }

  0% {
    /* A slightly smaller blur radius */
    text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 38px #f09,
      0 0 73px #f09,
      0 0 80px #f09,
      0 0 94px #f09,
      0 0 140px #f09;
  }
}


.neonText {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #f09,
    0 0 82px #f09,
    0 0 92px #f09,
    0 0 102px #f09,
    0 0 151px #f09;
}


/* Flickering animation */
@keyframes flicker {

  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {

    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #f09,
      0 0 82px #f09,
      0 0 92px #f09,
      0 0 102px #f09,
      0 0 151px #f09;

  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

@keyframes flickerImg {

  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.5)) drop-shadow(0 0 8px rgba(255, 0, 153, 0.5)) drop-shadow(0 0 10px rgba(255, 0, 153, 0.5)) drop-shadow(0 0 13px rgba(255, 0, 153, 0.5)) drop-shadow(0 0 16px rgba(255, 0, 153, 0.3))
  }

  20%,
  24%,
  55% {
    filter: drop-shadow(0 0 0 #fff);
  }
}

.neonBoxShadow {
  box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe,
    0 0 2.8rem #bc13fe,
    inset 0 0 1.3rem #bc13fe;
}

@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}

@-webkit-keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

.hideMe {
  -moz-animation: cssAnimation 0s ease-in 5s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 5s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 5s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  position: absolute;
  bottom: 1rem;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 1;
  height: 25vh;
  width: auto;
}

.backgroundSlide {
  position: fixed;
  width: 100vw;
  object-fit: cover;
  height: 100vh;
  z-index: -1;
}

.nintendoBrickAnimation {
  position: relative;
  bottom: 3px;
  animation: MoveUpDown 0.5s linear infinite;
  cursor: pointer;
}

.nintendoFont {
  position: relative;
  bottom: 75px;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-top: 1.5rem;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  cursor: pointer;
  font-family: var(--pressStart-font);
}

.homeFont {
  text-transform: uppercase;
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-align: center;
}

.playstationFont {
  animation: flicker 1.5s infinite alternate;
  font-family: var(--play-font);
  font-size: 2.3rem;
  margin-top: 15rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}


/* Carousel */
@mixin white-gradient {
	background: linear-gradient(to right,  rgba(0,0,0,0.2) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}


// Styling
.slider {
	//background: white;
	//box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 200px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 100%;
	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 200px;
		position: absolute;
		width: 380px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}

  &:hover {
    transform: scale(1.30);
    transition-duration: 0.8s;
  }
	
  /*
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(350px * 14);
    height: 100%;
	}
  */
	
	.slide {
    height: 100%;
		width: 380px;
	}
}